In [9]:
import pandas as pd
import matplotlib.pyplot as plt

In [55]:
class DataClean:
    def __init__(self):
        pass

    def Arrivals_column_cleaning(self,col):
        df[col]=df[col].fillna(-11)
        df[col]=df[col].str.replace(',','')
        df[col]=df[col].astype(float)
        return df[col]
        

    def check_na_sum(self,df):
        return df.isna().sum()
    
    
    def histogram(self,df):
        plt.hist(df)

In [56]:
dc=DataClean()

In [57]:
df=pd.read_excel("Agmarknet_Price_And_Arrival_Report (1).xlsx",header=1)

In [58]:
df.head()

,State Name,District Name,Market Name,Variety,Group,Arrivals (Tonnes),Min Price (Rs./Quintal),Max Price (Rs./Quintal),Modal Price (Rs./Quintal),Reported Date
0,Punjab,Fazilka,Abohar,Other,Cereals,100.00,2130.0,2130,2130,2023-05-26
1,Punjab,Fazilka,Abohar,Other,Cereals,136.00,2125.0,2125,2125,2023-05-25
2,Punjab,Fazilka,Abohar,Other,Cereals,256.00,2125.0,2130,2125,2023-05-24
3,Punjab,Fazilka,Abohar,Other,Cereals,270.00,2125.0,2130,2125,2023-05-23
4,Punjab,Fazilka,Abohar,Other,Cereals,474.00,2125.0,2130,2125,2023-05-22

In [59]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5667 entries, 0 to 5666
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   State Name                 5667 non-null   object
 1   District Name              5667 non-null   object
 2   Market Name                5667 non-null   object
 3   Variety                    5667 non-null   object
 4   Group                      5667 non-null   object
 5   Arrivals (Tonnes)          5659 non-null   object
 6   Min Price (Rs./Quintal)    5667 non-null   float64
 7   Max Price (Rs./Quintal)    5667 non-null   int64
 8   Modal Price (Rs./Quintal)  5667 non-null   int64
 9   Reported Date              5667 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(2), object(6)
memory usage: 442.9+ KB

In [60]:
dc.check_na_sum(df)

State Name                   0
District Name                0
Market Name                  0
Variety                      0
Group                        0
Arrivals (Tonnes)            8
Min Price (Rs./Quintal)      0
Max Price (Rs./Quintal)      0
Modal Price (Rs./Quintal)    0
Reported Date                0
dtype: int64

In [61]:
# df['Arrivals (Tonnes)']=df['Arrivals (Tonnes)'].fillna(-11)
# df['Arrivals (Tonnes)']=df['Arrivals (Tonnes)'].str.replace(',','')
# df['Arrivals (Tonnes)']=df['Arrivals (Tonnes)'].astype(float)

In [62]:
df['Arrivals (Tonnes)']=dc.Arrivals_column_cleaning('Arrivals (Tonnes)')

In [63]:
dc.check_na_sum(df)

State Name                   0
District Name                0
Market Name                  0
Variety                      0
Group                        0
Arrivals (Tonnes)            8
Min Price (Rs./Quintal)      0
Max Price (Rs./Quintal)      0
Modal Price (Rs./Quintal)    0
Reported Date                0
dtype: int64